<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title><%= name %></title>
</head>

<% if(framework === 'angular'){ %>
  <body ng-app="<%= name %>">
    <ui-view></ui-view>
<% } else if(framework === 'react'){ %>
  <body>
  <div id="react-container"></div>    
<% } else { %>
  <body>
      <%= name %> by <%= author %>
<% }%>
    <script src="jspm_packages/system.js"></script>
    <script src="jspm.browser.js"></script>
    <script src="jspm.config.js"></script>
    <script>
      System.import('src/app.js');
    </script>
  </body>

</html>
